h1 { color: #4180ab;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
h2 { 
    color: #8ab3cf;
}
ul { font-family: 'Courier New', Courier, monospace;
   color: #191013;
}
ol { font-family: 'Courier New', Courier, monospace;
   color: #191013;
}
h3 { font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: #191013;
}